
* {
  box-sizing: border-box;
  }


body {
	background: lightblue;
}

#header {
	text-align: center;
	margin-bottom: 5px;
}	

.crystal-images {
    width: 500px;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    left: 70px;
    border-image: grey;
	

            
  }
